# MQTT (used by ingest-service)
MQTT_HOST=emqx
MQTT_PORT=1883

# InfluxDB 3
INFLUX_ENABLED=1
INFLUX_HOST=http://influxdb3:8181
INFLUX_TOKEN=YOUR_TOKEN_HERE
INFLUX_DATABASE=tennis
INFLUX_TABLE=events_full_rows
INFLUX_IMU_TABLE=imu_raw_full_rows
INFLUX_BATCH_SIZE=1000
INFLUX_FLUSH_INTERVAL_MS=300
INFLUX_WRITE_GENERIC_EVENTS=0 

SUB_TOPICS=tennis/sensor/+/events,tennis/camera/+/ball


# Siddha sensor simulator
SIDDHA_MQTT_BROKER_HOST=emqx
SIDDHA_MQTT_BROKER_PORT=1883
SIDDHA_MQTT_TOPIC_PREFIX=tennis/sensor
SIDDHA_DATASET_PATH=/app/dataset/data.parquet
SIDDHA_REPLAY_MODE=fast
SIDDHA_REPLAY_SPEED=1.0
SIDDHA_DEFAULT_DEVICE_FILTER=
SIDDHA_DEFAULT_ACTIVITY_FILTER=
SIDDHA_DEFAULT_RECORDING_ID_FILTER=
SIDDHA_LOOP_FOREVER=false
SIDDHA_MQTT_QOS=1
SIDDHA_MQTT_WAIT_FOR_PUBLISH=true

# HAR 
HAR_INFLUX_HOST=http://influxdb3:8181
HAR_INFLUX_TOKEN=YOUR_TOKEN_HERE
HAR_INFLUX_DATABASE=tennis
HAR_IMU_TABLE=imu_raw_full_rows
HAR_PREDICTION_TABLE=har_predictions_7_activity
HAR_POLL_INTERVAL_SECONDS=5
HAR_MODEL_PATH=/app/model/L2MU_plain_leaky.onnx
HAR_LABELS_PATH=/app/model/labels.txt
HAR_QUERY_LIMIT=5000
HAR_WINDOW_SIZE=40
HAR_WINDOW_STRIDE=20
HAR_MAX_WINDOWS_PER_STREAM=0
HAR_FILTER_DEVICE=watch
HAR_ALLOWED_ACTIVITY_GT=F,G,O,P,Q,R,S
HAR_INPUT_LAYOUT=gyro_then_accel
HAR_TEMPORAL_PREPROCESS=none
HAR_SCORE_AGGREGATION=sum
HAR_MODEL_NAME=L2MU_plain_leaky
