# MQTT (used by ingest-service)
MQTT_HOST=emqx
MQTT_PORT=1883

# InfluxDB 3
INFLUX_ENABLED=1
INFLUX_HOST=http://influxdb3:8181
INFLUX_TOKEN=YOUR_TOKEN_HERE
INFLUX_DATABASE=tennis_data
INFLUX_TABLE=events
INFLUX_IMU_TABLE=imu_raw
INFLUX_BATCH_SIZE=1000
INFLUX_FLUSH_INTERVAL_MS=300
INFLUX_WRITE_GENERIC_EVENTS=0 

SUB_TOPICS=tennis/sensor/+/events,tennis/camera/+/ball


# Siddha sensor simulator
SIDDHA_MQTT_BROKER_HOST=emqx
SIDDHA_MQTT_BROKER_PORT=1883
SIDDHA_MQTT_TOPIC_PREFIX=tennis/sensor
SIDDHA_DATASET_PATH=/app/dataset/data.parquet
SIDDHA_REPLAY_MODE=fast
SIDDHA_REPLAY_SPEED=1.0
SIDDHA_DEFAULT_DEVICE_FILTER=phone
SIDDHA_DEFAULT_ACTIVITY_FILTER=
SIDDHA_DEFAULT_RECORDING_ID_FILTER=18
SIDDHA_LOOP_FOREVER=false
SIDDHA_MQTT_QOS=1
SIDDHA_MQTT_WAIT_FOR_PUBLISH=true
